.group {
    cursor: pointer;
}

    .group img {
        transition: transform 0.7s ease;
    }

    .group:hover img {
        transform: scale(1.05);
    }

    .group h3 {
        transition: color 0.3s ease;
    }

    .group:hover h3 {
        color: #c89b5f;
    }
